Scripts e Dados/1 - Organized data gauge/CEMADEN_DAILY_2021_2024.h5
Scripts e Dados/1 - Organized data gauge/HIDROWEB_DAILY_1961_2020.h5
Scripts e Dados/1 - Organized data gauge/INMET_DAILY_2021_2024.h5
Scripts e Dados/1 - Organized data gauge/TELEMETRIA_DAILY_2021_2024.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/BRAZIL_DAILY_1961_2024.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/data_processing.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/neighboring_analysis.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/outlier_processing.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/DATASETS/BRAZIL_DAILY_1961_2024_CLEANED_OUTLIER.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/DATASETS/BRAZIL_DAILY_1961_2024_CLEANED.h5
Scripts e Dados/1 - Organized data gauge/BRAZIL/DATASETS/BRAZIL_DAILY_1961_2024_CLEANED.h5
